# all ignore #
/*
/.**

!/scripts/
!/scripts/**

## config
!/.config/
!/.config/**

### Secrets
/.config/gh/**
!/.config/gh/config.yml
!/.config/pet/snippet.toml

### neovim
/.config/nvim/plugin/**
/.config/nvim/lazy-lock.json
!/.nvim/
!/.nvim/**
!/.editorconfig

### zsh
!/.zshenv
/.zfunc/**
/.config/zsh/*.local/**
/.config/zsh/.zcompdump
/.config/zsh/.zshrc.local

### VSCode
/.config/Code/**
!/.config/Code/User/*.json

### wezterm
/.config/wezterm/local.lua

## AI
# !/CLAUDE.md
# !/.claude/
# !/.claude/settings.json
# /.config/claude/**
# !/.config/claude/settings.json
# !/.config/claude/CLAUDE.md
# !/codex.md
# !/.codex/
# !/.codex/**
# /.config/codex/**
# !/.config/codex/scripts/
# #!/.config/codex/config.toml
# !/GEMINI.md
# !/.gemini/
# !/.gemini/**
# !/AGENTS.md
# !/.devcontainer/
# !/.devcontainer/**

# global #
__pycache__
!/README.md
!/LICENSE
!/install.sh
!/install_scripts/
!/install_scripts/**
!.linkignore
!.gitignore
!.gitkeep